{% extends 'template_base.html' %} {% block title %}
<title>Home</title>
{% endblock title %} {% block header %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">{% block texto_header %} Acerca de Rodrigo {% endblock texto_header %}</h1>
                    <p1>Hola mi nombre es Rodrigo González, soy de México tengo 28 años, estudié la carrera de ingeniería industrial, </p1>
                    <p1>me gusta mucho salir de roadtrip con los amigos, andar en moto, jugar volleyball y echar una partiditas de chill en fortnite con los </p1>
                    <p1>reales. &#128123&#128516 </p1>
                    <p1> </p1>
                    <p1> </p1>

                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}